* {
    margin: 0;
    padding: 0;
}

#repair_hydraulic_cylinders_reviews {
    font-family: Montserrat, sans-serif;
}

#repair_hydraulic_cylinders_reviews .text {
    width: 20%;
    margin: 0 auto;
}

#repair_hydraulic_cylinders_reviews .title {
    font-size: 32px;
    font-weight: 600;
    line-height: 31px;
}

#repair_hydraulic_cylinders_reviews .title > span {
    position: relative;
    z-index: 2;
}

#repair_hydraulic_cylinders_reviews .q1 {
    padding: 30px 120px;
    background: #2f2f2d;
    color: #fff;
    /* display: flex; */
    flex-direction: column;
    /* gap: 15px;
    justify-content: space-between; */
}

#repair_hydraulic_cylinders_reviews .q1 h2 {
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}

#repair_hydraulic_cylinders_reviews .q1 .sub-title {
    font-size: 14px;
    line-height: 24px;
}

#repair_hydraulic_cylinders_reviews .title > span::before {
    content: "";
    display: block;
    background: #FFA500;
    width: calc(100% + 6px);
    height: 15px;
    z-index: -1;
    position: absolute;
    bottom: 6px;
    left: -3px;
}

#repair_hydraulic_cylinders_reviews .q1 > .image_vertical img {
    max-width: 20%;
    height: auto;
    width: 90%;
    display: block;
    margin: 30px auto 30px;
}

#repair_hydraulic_cylinders_reviews .super_image::after {
    content: "";
    position: absolute;
    bottom: 49px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
}

#repair_hydraulic_cylinders_reviews .super_image {
    position: relative;
}

#repair_hydraulic_cylinders_reviews .img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: relative;
    /* bottom: -70px; */
}

#repair_hydraulic_cylinders_reviews .icon-profile {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    height: 16px;
    text-align: center;
    width: 15px;
    border-radius: 50%;
    border-color: #1E90FF;
    border: 2px solid #fff;
}

#repair_hydraulic_cylinders_reviews #super-icon-1 .icon-profile{
    background-color: #FF0000;
}

#repair_hydraulic_cylinders_reviews #super-icon-2 .icon-profile{
    background-color: #fcad03;
}

#repair_hydraulic_cylinders_reviews #super-icon-3 .icon-profile{
    background-color: #29ba2e;
}

#repair_hydraulic_cylinders_reviews .city {
    color: #fff;
    font-style: italic;
}

#repair_hydraulic_cylinders_reviews .company {
    color: silver;
}

#repair_hydraulic_cylinders_reviews .text-info {
    overflow: auto;
    font-size: 12px;
}

@media screen and (max-width: 800px) {
    #repair_hydraulic_cylinders_reviews .q1 {
        padding: 30px 60px;
    }

    #repair_hydraulic_cylinders_reviews .text {
        width: 50%;
        margin: 0 auto;
    }

    #repair_hydraulic_cylinders_reviews .q1 .sub-title {
        width: 60%;
    }

    #repair_hydraulic_cylinders_reviews .q1 > .image_vertical img {
        max-width: 25%;
    }

    #repair_hydraulic_cylinders_reviews .icon-profile {
        padding: 8px;
    }

    #repair_hydraulic_cylinders_reviews .super_image::after {
        bottom: 44px;
    }
}

@media screen and (max-width: 550px) {
    #repair_hydraulic_cylinders_reviews .q1 {
        padding: 30px 30px;
    }

    #repair_hydraulic_cylinders_reviews .text {
        width: 50%;
        margin: 0 auto;
    }

    #repair_hydraulic_cylinders_reviews .q1 .sub-title {
        width: 118%;
    }
    
    #repair_hydraulic_cylinders_reviews .title {
        font-size: 29px;
    }

    #repair_hydraulic_cylinders_reviews .q1 > .image_vertical img {
        max-width: 46%;
    }

    #repair_hydraulic_cylinders_reviews .icon-profile {
        padding: 6px;
    }

    #repair_hydraulic_cylinders_reviews .super_image::after {
        bottom: 42px;
    }
}
.Block__ui_padding-top_s--yjxcw {
    z-index: 100;
}
